.faq-container {



    padding: 5rem;
    border-radius: 10px;
    font-family: "Arial", sans-serif;
  }
  
  .faq-title {
    font-size: 49px;
    text-align: left;
    background: linear-gradient(24deg, rgb(255, 255, 247) 0%, rgba(255, 255, 247, 0.34) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 3rem 0rem 3rem 0rem;
  }
  

  
  .faq-item {
    padding: 28px 24px;
 
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 130%;
    text-align: left;
    color: rgb(204, 204, 204);
  }
  
  .faq-icon {
    font-size: 2rem;
    color: #7A7A7A;
    width: 16px;
    font-weight: 400;
  }
  
  .faq-answer {
    margin-top: 12px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: rgba(122, 122, 122, 0.9);

  }
  
  .faq-item.active .faq-question {
    color: rgb(255, 201, 64);
  }
  
  .faq-footer {
    margin-top: 3rem;
    font-family: "Inter" , sans-serif;
    font-size: 18px;
    color: rgb(122, 122, 122);
    letter-spacing: 0.02em;
    line-height: 140%;
    font-weight: 500;
  }
  
  .faq-footer a {
    color: rgb(204, 204, 204);
    text-decoration: none;
    font-weight: 600;
  }
  
  .faq-footer a:hover {
    text-decoration: underline;
    color: rgb(122, 122, 122);
  }
  